APP_NAME=My Backend N-TIER
DEBUG=true

# Database Connection
DATABASE_URL=postgresql+psycopg://username:password@localhost:port/db

# Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# JWT settings
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=